# Имя физического интерфейса с доступом в lan
LAN_INTFS=

# Имя vpn сетевого пространства
VPN_NAMESPACE=

# Подсеть vpn сетевого пространства
SUBNET=

# Имя виртуального интерфейса для дефолтного сетевого пространства
INTFS_DS=
# Ip адрес виртуального интерфейса (default space)
IP_INTFS_DS=

# Имя виртуального интерфейса для vpn сетевого пространства (peer name)
INTFS_VS=
# Ip адрес виртуального интерфейса (vpn space)
IP_INTFS_VS=
# Шлюз для виртуального интерфейса
GATEWAY_VS=

# Конфигурация VPN L2TP/IPSEC
VPN_NAME=
VPN_SERVER_IP=
VPN_IPSEC_PSK=
VPN_USER=
VPN_PASSWORD=